<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Cadastro</title>
</head>

<body class="bg-slate-900 h-screen items-center flex justify-center antialiased">
    <form th:action="@{/users/create}" method="post" th:object="${user}">
        <div class="text-white font-extrabold text-6xl flex items-center italic mb-8 justify-center tracking-wide">
            <h1 class="bg-gradient-to-r from-purple-400 to-lime-400 bg-clip-text text-transparent">Courses API</h1>
        </div>
        <div
            class="space-y-6 bg-purple-900/30 border border-purple-500/20 backdrop-blur-md rounded-2xl p-16 shadow-2xl">

            <div>
                <input type="text" name="name"
                    class="bg-white/10 text-white placeholder-gray-400 text-sm rounded-lg w-96 block p-4 focus:outline-none focus:ring-lime-400 focus:ring-2 border border-purple-500/30"
                    placeholder="Name">
            </div>

            <div>
                <input type="email" name="email"
                    class="bg-white/10 text-white placeholder-gray-400 text-sm rounded-lg w-96 block p-4 focus:outline-none focus:ring-lime-400 focus:ring-2 border border-purple-500/30"
                    placeholder="Email">
            </div>

            <div>
                <input type="password" name="password"
                    class="bg-white/10 text-white placeholder-gray-400 text-sm rounded-lg w-96 block p-4 focus:outline-none focus:ring-lime-400 focus:ring-2 border border-purple-500/30"
                    placeholder="Password">
            </div>

            <div>
                <input type="password" name="confirmPassword"
                    class="bg-white/10 text-white placeholder-gray-400 text-sm rounded-lg w-96 block p-4 focus:outline-none focus:ring-lime-400 focus:ring-2 border border-purple-500/30"
                    placeholder="Confirm Password">
            </div>

            <div class="relative w-96">

                <select name="role" id="role"
                    class="w-full bg-white/30 backdrop-blur-md text-white text-sm rounded-lg block p-4 pr-12 focus:outline-none focus:ring-lime-400 focus:ring-2 border border-white/20 appearance-none cursor-pointer transition-all placeholder-white">

                    <option value="" disabled selected class="text-gray-300 bg-slate-900">Selecione seu cargo</option>
                    <option value="Rector" class="text-white bg-slate-900">Reitor</option>
                    <option value="Director" class="text-white bg-slate-900">Diretor</option>
                    <option value="Coordinator" class="text-white bg-slate-900">Coordenador</option>
                    <option value="Teacher" class="text-white bg-slate-900">Professor</option>
                    <option value="Student" class="text-white bg-slate-900">Estudante</option>
                </select>

                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-4 text-lime-400">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                    </svg>
                </div>
            </div>

            <div class="flex items-center justify-center" th:if="${error}">
                <p class="text-red-400 font-medium text-sm" th:text="${error}"></p>
            </div>

            <button
                class="bg-lime-400 w-96 p-4 rounded-lg text-purple-950 font-bold tracking-wider hover:bg-lime-200 transition-colors shadow-lg shadow-lime-400/20">
                CADASTRAR
            </button>

            <a href="/users/login"
                class="block text-center font-semibold text-lime-400/80 text-sm underline underline-offset-4 hover:text-white transition-colors">
                Faça seu Login Aqui!
            </a>
        </div>
    </form>
</body>

</html>