<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Editar Categoria</title>
</head>

<body class="bg-slate-900 min-h-screen items-center flex justify-center p-4 md:p-6 overflow-y-auto antialiased">

    <form th:action="@{/categories/editar/{id}(id=*{id})}" method="post" th:object="${category}"
        class="w-full max-w-md">

        <div
            class="text-white text-center font-extrabold text-4xl sm:text-6xl flex items-center italic mb-8 justify-center tracking-wide">
            <h1 class="bg-gradient-to-r from-purple-400 to-lime-400 bg-clip-text text-transparent">Dados da Categoria
            </h1>
        </div>

        <div
            class="space-y-6 bg-purple-900/30 border border-purple-500/20 backdrop-blur-md rounded-2xl p-6 sm:p-12 shadow-2xl w-full">

            <div>
                <input type="text" name="name"
                    class="bg-white/10 text-white placeholder-gray-400 text-sm rounded-lg w-full block p-4 focus:outline-none focus:ring-lime-400 focus:ring-2 border border-purple-500/30"
                    placeholder="Name" th:field="*{name}">
            </div>

        </div>

        <div class="flex flex-col mb-6 items-center justify-center space-y-2 w-full mx-auto">

            <p class="text-red-400 mt-2 mb-6 font-medium text-sm text-center whitespace-normal break-words w-full"
                th:if="${error}" th:text="${error}">
            </p>

        </div>

        <button
            class="bg-lime-400 mb-6 w-full p-4 rounded-lg text-purple-950 font-bold tracking-wider hover:bg-lime-200 transition-colors shadow-lg shadow-lime-400/20">
            SALVAR
        </button>

        <a href="/categories"
            class="block text-center bg-red-400 w-full p-4 rounded-lg text-purple-950 font-bold tracking-wider hover:bg-red-200 transition-colors shadow-lg shadow-lime-400/20">
            CANCELAR
        </a>
        </div>
    </form>
</body>


</html>